.leftbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.leftbarFriendImg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
